/logs
.Renviron
.Rhistory
.RData

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Build time files
.secrets/*
!.secrets/.gitkeep
.env
.trash
.build/*
!.build/.gitkeep
.editorconfig